## Example_1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructField, StructType,StringType,IntegerType,LongType

In [9]:
spark = SparkSession.builder.appName("movieApp").getOrCreate()
schema = StructType([
    StructField("user_id",StringType(),True),
    StructField("movie_id",StringType(),True),
    StructField("rating",IntegerType(),True),
    StructField("timestamp",LongType(),True)
])

In [10]:
movie_df = spark.read.option("sep","\t").schema(schema).csv("../DATA/ml-100k/u.data")

In [14]:
movie_df.groupBy("movie_id").count().orderBy(func.desc("count")).show()

+--------+-----+
|movie_id|count|
+--------+-----+
|      50|  583|
|     258|  509|
|     100|  508|
|     181|  507|
|     294|  485|
|     286|  481|
|     288|  478|
|       1|  452|
|     300|  431|
|     121|  429|
|     174|  420|
|     127|  413|
|      56|  394|
|       7|  392|
|      98|  390|
|     237|  384|
|     117|  378|
|     172|  367|
|     222|  365|
|     204|  350|
+--------+-----+
only showing top 20 rows

In [15]:
spark.stop()

# Example2

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructField, StructType,StringType,IntegerType,LongType

spark = SparkSession.builder.appName("movieApp").getOrCreate()

schema = StructType([
    StructField("user_id",StringType(),True),
    StructField("movie_id",StringType(),True),
    StructField("rating",IntegerType(),True),
    StructField("timestamp",LongType(),True)
])
movie_df = spark.read.option("sep","\t").schema(schema).csv("../DATA/ml-100k/u.data")

In [26]:
# brodcast 
def loadMovieNames():
    with open("../DATA/ml-100k/u.item","r",encoding="ISO-8859-1",errors="ignore") as file:
        lines = file.read().split("\n")
        dict_=dict()
        for line in lines:
#             print(line)
            try:
                fields = line.split("|")
                id = str(fields[0])            
                name = str(fields[1])
                dict_[id]=name
            except:
                print(len(line))
    return dict_
name_dict= spark.sparkContext.broadcast(loadMovieNames())

0

In [49]:
movie_count_df = movie_df.groupBy("movie_id").count()

In [34]:
def lookup(movieID):
    return name_dict.value[movieID]

In [35]:
lookup_udf = func.udf(lookup)

In [50]:
movie_count_df = movie_count_df.withColumn("name",lookup_udf(func.col("movie_id")))

In [51]:
movie_count_df = movie_count_df.select("name","count").orderBy(func.desc("count"))

In [53]:
movie_count_df.show()

+--------------------+-----+
|                name|count|
+--------------------+-----+
|    Star Wars (1977)|  583|
|      Contact (1997)|  509|
|        Fargo (1996)|  508|
|Return of the Jed...|  507|
|    Liar Liar (1997)|  485|
|English Patient, ...|  481|
|       Scream (1996)|  478|
|    Toy Story (1995)|  452|
|Air Force One (1997)|  431|
|Independence Day ...|  429|
|Raiders of the Lo...|  420|
|Godfather, The (1...|  413|
| Pulp Fiction (1994)|  394|
|Twelve Monkeys (1...|  392|
|Silence of the La...|  390|
|Jerry Maguire (1996)|  384|
|    Rock, The (1996)|  378|
|Empire Strikes Ba...|  367|
|Star Trek: First ...|  365|
|Back to the Futur...|  350|
+--------------------+-----+
only showing top 20 rows

## example 3 populat superhero

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructField, StructType,StringType,IntegerType,LongType

spark = SparkSession.builder.appName("superhero").getOrCreate()

schema = StructType([
    StructField("ID",StringType(),True),
    StructField("name",StringType(),True)
])
superhero = spark.read.schema(schema).option("sep"," ").text("/media/user/Files/sparkCourse/DATA/2015-10-01_13-52-12__Marvel-names.txt")